/* You can add global styles to this file, and also import other style files */
.btn-xl {
    background: #F05F44;
    border-color: #F05F44;
    padding: .5rem 1rem;
    border-radius: 300px;
}

.btn-xl:hover {
    background-color:#EE4B08;
    border-color: #EE4B08 ;
    border-width: 3px;
}