<div *ngIf='loading' class="row d-flex justify-content-center align-items-center h-100">
    <div class="spinner-grow text-custom" style="margin: 3px;">
        <span class="visually-hidden">.</span>
    </div>
    <div class="spinner-grow text-custom" style="margin: 3px;">
        <span class="visually-hidden">.</span>
    </div>
    <div class="spinner-grow text-custom" style="margin: 3px;">
        <span class="visually-hidden">.</span>
    </div>
</div>
<div *ngIf='!loading' class="row">
    <div *ngFor = 'let usuario of listUsuarios; let i = index' class="col-lg-3" style="margin: 30px;">
        <app-card-usuario [user] = usuario [img] = listImagenes[i]></app-card-usuario>
    </div>
</div>
